@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Sniglet&display=swap');
// Set your brand colors
$orange: #ffffff;
$dark-blue: #212A51
// Update Bulma's global variables
$family-sans-serif: 'Sniglet', cursive;
$text: $dark-blue;
$widescreen-enabled: false;
$fullhd-enabled: false;
$size-6: 10rem

// Update some of Bulma's component variables
$body-background-color: $orange;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Import only what you need from Bulma
@import '../node_modules/bulma/sass/utilities/_all.sass';
@import '../node_modules/bulma/sass/grid/_all.sass';
@import '../node_modules/bulma/sass/base/_all.sass';
@import '../node_modules/bulma/sass/elements/button.sass';
@import '../node_modules/bulma/sass/elements/container.sass';
@import '../node_modules/bulma/sass/elements/form.sass';
@import '../node_modules/bulma/sass/elements/title.sass';
@import '../node_modules/bulma/sass/components/navbar.sass';
@import '../node_modules/bulma/sass/layout/hero.sass';
@import '../node_modules/bulma/sass/layout/section.sass';
